<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Population</th>
        <th scope="col">Diameter</th>
        <th scope="col">Rotation Period</th>
        <th scope="col">Orbital Period</th>
        <th scope="col">Terrain</th>
        <th scope="col">Films</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planet of (planets$ | async)?.results">
        <td>{{ planet.name }}</td>
        <td>{{ (planet.population === 'unknown') ? 'Unknown' : (planet.population | number) }}</td>
        <td>{{ planet.diameter | number }}</td>
        <td>{{ planet.rotation_period | number }}</td>
        <td>{{ planet.orbital_period | number }}</td>
        <td>
          <ul class="no-padding" *ngFor="let terrain of terrainList(planet.terrain)">{{ terrain }}</ul>
        </td>
        <td>
          <ul class="no-padding" *ngFor="let film of findFilmName(planet.films)">{{ film }}</ul>
        </td>
      </tr>
    </tbody>
  </table>
