<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="sortable" (click)="sortBy('name')">Name</th>
        <th scope="col" class="sortable" (click)="sortBy('population')">Population</th>
        <th scope="col" class="sortable" (click)="sortBy('diameter')">Diameter</th>
        <th scope="col" class="sortable" (click)="sortBy('rotation_period')">Rotation Period</th>
        <th scope="col" class="sortable" (click)="sortBy('orbital_period')">Orbital Period</th>
        <th scope="col" class="non-sortable">Terrain</th>
        <th scope="col" class="non-sortable">Films</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planet of planets">
        <td>{{ planet.name }}</td>
        <td>{{ (['unknown', -1].includes(planet.population)) ? 'Unknown' : (planet.population | number) }}</td>
        <td>{{ ['unknown', -1].includes(planet.diameter) ? 'Unknown' : (planet.diameter | number) }}</td>
        <td>{{ ['unknown', -1].includes(planet.rotation_period) ? 'Unknown' : (planet.rotation_period | number) }}</td>
        <td>{{ ['unknown', -1].includes(planet.orbital_period) ? 'Unknown' : (planet.orbital_period | number) }}</td>
        <td>
          <ul class="no-padding" *ngFor="let terrain of terrainList(planet.terrain)">{{ terrain }}</ul>
        </td>
        <td>
          <ul class="no-padding" *ngFor="let film of findFilmName(planet.films)">{{ film }}</ul>
        </td>
      </tr>
    </tbody>
  </table>
