<div class="pagination">
  <div
    class="pagination-button edge-button"
    [ngClass]="{selectable: !onFirstPage()}"
    (click)="goTo(1)">
    First
  </div>
  <div
    *ngIf="!onFirstPage()"
    class="selectable pagination-button glyphicon glyphicon-triangle-left"
    (click)="goTo(currentPage - 1)">
  </div>
  <div
    class="current-page pagination-button">
    {{ currentPage }}
  </div>
  <div
    *ngIf="!onLastPage()"
    class="selectable pagination-button"
    (click)="goTo(currentPage + 1)">
    {{ currentPage + 1 }}
  </div>
  <div
    *ngIf="!onLastPage() && !onSecondToLastPage()"
    class="pagination-button">
    ...
  </div>
  <div
    *ngIf="!onLastPage()"
    class="selectable pagination-button glyphicon glyphicon-triangle-right"
    (click)="goTo(currentPage + 1)">
  </div>
  <div
    class="pagination-button edge-button"
    [ngClass]="{selectable: !onLastPage()}"
    (click)="goTo(lastPage)">
    Last
  </div>
</div>
