.pagination
  display: flex
  float: right

.edge-button
  margin: 0px 20px

.pagination-button
  padding: 0px 10px

.glyphicon
  top: 3px

.current-page
  background-color: lightgrey
  border-radius: 100%
